body{
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  background-image:url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
  background-repeat:no-repeat;
  image-rendering: auto;
  position: absolute;
}
nav {
  width: 100%;
  border-bottom: 1px Solid #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color:#29292B;
  position: relative;
  
}
span{
  
  z-index: 999;
}

h1{
  font-family: cursive;
  font-style: italic;
  color: #FBC836;
  font-weight: 800;
  margin-left: 15px;
}

.desktop-navigation {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-right: 15px;
}

.desktop-navigation li {
  margin: 0 .5em;
  color: white;
  text-transform: uppercase;
}

.mobilenav{
  display: none;
}
.mobile-navigation {
  display: none;

}

.mobile-navigation .line {
  height: 1px;
  width: 20px;
  background: white;
}
.mobile-navigation .line:nth-child(odd){
  margin: .3em 0;
}

@media(max-width: 768px){
  .desktop-navigation {
    display: none;
  }
  .mobilenav{
    display: flex;
    flex-direction: row;
    width: 80px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100px;
    background: #FBC836;
    border-radius: 10px;
  }
  .mobile-navigation {
    display: initial;
    

    
  }
  .collapsible-menu{
    width: 40px;
    margin-top: 20px;
    
  
  
  }



  .mobilenav nav{
    background-color: #FBC836;
    display: flex;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-transform: uppercase;
    
  }
  .collapsible-menu input{
    opacity: 0;
  }



.menu-content  {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
    
   
}


@keyframes slidein {
  from {
    margin-top:0%;
    height: 0px;
    
  }
  
  to {
    margin-top:0%;
    height: 15vh;
    
  }
}

@keyframes slideout{
  from{
    margin-top: 0%;
    height: 15vh;
  }

  to{
    margin-top: 0%;
    height: 0px;
  }
}
 ul{
   list-style-type: none;
   
 }
 ul li{
   margin-top: 5px;
   text-transform: uppercase;
   font-size: 1em;
 }
 ul li:hover {
  color: #FBC836;
  

}
ul:hover{
  cursor: pointer;
}
input:checked ~ .menu-content {
    
    position: absolute;
    transition: all 4s;
    right: 0;
    color: white;
    max-height: 15vh;
    width: 100%;
    background-color: #29292B;
    animation-duration: 3s;
    animation-name: slidein;
    transition: width 2s, height 2s, transform 2s;    
}



}